# Example inventory file
# Copy to inventory.ini and customize

[servers]
pihole-master ansible_host=10.20.160.250 bootstrap_static_ip=10.20.0.50/16 bootstrap_gateway=10.20.0.1 bootstrap_static_ip6=fda3:6tgc:b944:20::50/64 bootstrap_gateway6=fda3:6tgc:b944:20::1
pihole-backup ansible_host=10.20.200.38 bootstrap_static_ip=10.20.0.51/16 bootstrap_gateway=10.20.0.1 bootstrap_static_ip6=fda3:6tgc:b944:20::51/64 bootstrap_gateway6=fda3:6tgc:b944:20::1

[servers:vars]
ansible_user=ansible
